<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= title %> - <%= lingua.title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collape">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/"><%= lingua.title %></a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/"><%= lingua.layout.title %></a></li>
                        <% if (!user) { %>
                            <li><a href="/login"><%= lingua.index.login %></a></li>
                            <li><a href="/reg"><%= lingua.index.register %></a></li>
                        <% } else { %>
                            <li><a href="/logout"><%= lingua.index.logout %></a></li>
                        <% } %>
                    </ul>
                </div>
                <form class="navbar-form pull-right">
                    <ul class="nav nav-pills">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <%= lingua.navigation.language %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="?language=cn"><%= lingua.navigation.chinese %></a></li>
                                <li><a href="?language=en"><%= lingua.navigation.english %></a></li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <div id="container" class="container">
        <% if (success) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
        <% if (error) { %>
            <div class="alert alert-error">
                <%= error %>
            </div>
        <% } %>
        <%- body %>
        <hr />
        <footer>
            <p><a href="http://www.smartac.co/" target="_blank"><%= lingua.company %></a> 2014</p>
        </footer>
    </div>

  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>