<form class="form-horizontal" method="post">
    <fieldset>
        <legend><%= lingua.reg.title %></legend>
        <div class="control-group">
            <label class="control-label" for="username"><%= lingua.reg.username %></label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="username" name="username" value="<%= username %>">
                <p class="help-block"><%= lingua.reg.usernametip %></p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password"><%= lingua.reg.password %></label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password" name="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password-repeat"><%= lingua.reg.repeatpassword %></label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password-repeat" name="password-repeat">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><%= lingua.reg.register %></button>
        </div>
    </fieldset>
</form>